<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<head>
<meta charset="ISO-8859-1">

</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">

		<h1></h1>

		<div class="card text-center">
			<!-- class="card" -->
			<div class="card-header">
				<p class="text-center" ><h2 style="color:#FF3333";>UNICA SEDE<h2></p>
			</div>

			<div>
				<strong><font color = "black" size="4px"> <p align="left"> <br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Direccion de nuestra unica sede Semillitas del Saber:</p> </font></strong>
					
				<font color = "black" size="4px">
				<p align="left"><li type="disc"> Cruce de Av. Manco Capac cuadra 4 con Jose Carlos Mariategui &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li></p></font>
				


			</div>
			<div class="card-footer text-muted">
				<a th:href="@{/}" class="btn btn-danger"> <i class="fas fa-undo"></i>
					Volver
				</a>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>