<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<head>
<meta charset="ISO-8859-1">

</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">

		<h1></h1>

		<div class="card text-center">
			<!-- class="card" -->
			<div class="card-header">
				<p class="text-center" ><h2 style="color:#FF3333";>Vision<h2></p>
			</div>

			<div>
				<strong><font color = "black" size="4px"> <p align="left"> <br/> &nbsp&nbsp Aquello hacia lo que queremos avanzar a medio y largo plazo, es nuestra aspiración, nuestro deseo.</p> 
					<p align="left">&nbsp&nbspProfundizar en nuestro trabajo para que seamos:</p> </font></strong>
					
				<font color = "blue" size="4px">
				<p align="left"><li type="disc"> Un Colegio que considere al alumnado el centro de toda su acción educativa, ayudándole a ser elprotagonista activo de su proceso <br/>
				<p align="left">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp formativo.</li></p></font>
				
				<font color = "blue" size="4px">
				<p align="left"><li type="disc"> Un Colegio que favorezca la formación integral del alumnado contando con su diversidad, fomentando el espíritu de superación, &nbsp&nbsp&nbsp&nbsp<br/>
				<p align="left">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp cooperación, respeto, solidaridad, creatividad y sentido de la trascendencia.</li></p></font>
				
				<font color = "blue" size="4px">
				<p align="left"><li type="disc"> Un Colegio reconocido socialmente por su calidad académica y educativa, por su orientación a resultados, por su innovación &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<br/>
				<p align="left">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp constante, su apertura a la sociedad y por la apuesta decidida por los valores que derivan del Ideario.</li></p></font>
				
				<font color = "blue" size="4px">
				<p align="left"><li type="disc"> Un colegio al servicio de las familias y comprometido con la mejora continua en una gestión de calidad. &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li></p></font>
				
				<font color = "blue" size="4px">
				<p align="left"><li type="disc"> Un Colegio que garantice su sostenibilidad económica generando los recursos necesarios para su funcionamiento. &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li></p></font>
				
				<font color = "blue" size="4px">
				<p align="left"><li type="disc"> Un Colegio cuya actividad implique el menor impacto posible en el medio ambiente y que colabore en su conservación. &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li></p></font>
				
				
				
				


			</div>
			<div class="card-footer text-muted">
				<a th:href="@{/}" class="btn btn-danger"> <i class="fas fa-undo"></i>
					Volver
				</a>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>