<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>Nueva Matricula</h1>
 
		<div class="card">
			<div class="card-header">Registro de la Matricula</div>
			<div class="card-body">

				<form th:action="@{/matricula/save}" th:object="${matricula}"
					method="post">

					<div class="form-group">
						<label for="fechaCreacion">Fecha de Creacion:</label> <input
							type="date" class="form-control" placeholder="Fecha de Creacion"
							th:field="*{fechaCreacion}">
					</div>

					<div class="form-group">
						<label for="EstadoRegistro">Estado de Registro:</label> <input
							type="text" class="form-control"
							placeholder="Estado del Registro" th:field="*{EstadoRegistro}">
					</div>
					<div class="form-group">
						<label for="alumno">Codigo del Estudiante:</label> <input
							type="text" class="form-control"
							placeholder="Codigo del estudiante" th:field="*{alumno}">
					</div>

					<div class="form-group">
						<label for="seccion">Seccion y grado:</label> <select
							th:field="*{seccion}" class="form-control">
							<option th:each="seccioness: ${secciones}"
								th:value="${seccioness.codigo}"
								th:text="${seccioness.descripcion}"></option>
						</select>
					</div>

					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i> Grabar
					</button>
					<a th:href="@{/alumno}" class="btn btn-danger"> <i
						class="fas fa-undo-alt"></i> Cancelar
					</a>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>