<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"> </header>

	<h1 class="text-center" style="color:#008F39" >Sistema Web "Semillitas del Saber"</h1>


	<div class="nav-scroller py-1 mb-2">
		<nav class="navbar navbar-light" style="background-color: #c1c7c3;">

			<nav class="navbar navbar-light" style="background-color: #c1c7c3;">
				<form class="form-inline"></form>
			</nav>
			<a class="p-2 text-muted" href="/mision">Mision</a> <a
				class="p-2 text-muted" href="/vision">Vision</a> <a
				class="p-2 text-muted" href="/eventos">Eventos Escolares</a> <a
				class="p-2 text-muted" href="/sedes">Sedes</a> <a
				class="p-2 text-muted" href="/calendario">Calendario Academico</a> <a
				class="p-2 text-muted" href="/contacto">Contactenos</a>
		</nav>
	</div>

	<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
		<div class="col-md-6 px-0">
			<h1 class="display-4 font-italic">NACIDOS PARA EDUCAR CON LA
				BENDICION DE NUESTRO DIVINO NI&NtildeO JESUS</h1>
			<p class="lead my-3">
				Contamos con 35 a&ntildeos en el ambito estudiantil comprometidos
				con fomentar el buen aprendizaje, los buenos valores y el
				compa&ntildeerismo entre todos los estudiantes, trabajando de la
				mano siempre con los padres de familia. </br> Contamos con un excelente
				clima tanto para los profesores como para los alumnos, respetando las
				reglas institucionales, trabajo etico y muy profesional por parte de
				nuestro personal docente altamente calificado.
			</p>
			<p class="lead mb-0"></p>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>