<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>Informacion del alumno</h1>

		<div class="card text-center">
			<div class="card-header">Informacion del alumno</div>
			<div class="card-body">

				<div th:if="${dangerDel}" class="alert alert-danger" role="alert">
					<span th:text="${dangerDel}"></span>
				</div>
				<form>
					<div class="form-group row">
						<label for="nombre" class="col-sm-2 col-form-label">Codigo</label>
						<div class="col-sm-10">
							<input type="text" readonly th:value="${alumnos.codigo}"
								class="form-control-plaintext">
						</div>
					</div>
					<div class="form-group row">
						<label for="nombre" class="col-sm-2 col-form-label">Nombre
							del alumno</label>
						<div class="col-sm-10">
							<input type="text" readonly th:value="${alumnos.nombre}"
								class="form-control-plaintext">
						</div>
					</div>
					<div class="form-group row">
						<label for="nombre" class="col-sm-2 col-form-label">DNI
							del alumno</label>
						<div class="col-sm-10">
							<input type="text" readonly th:value="${alumnos.DNI}"
								class="form-control-plaintext">
						</div>
					</div>
					<div class="form-group row">
						<label for="especialidad" class="col-sm-2 col-form-label">Apellido
							Paterno</label>
						<div class="col-sm-10">
							<input type="text" readonly th:value="${alumnos.ApePat}"
								class="form-control-plaintext">
						</div>
					</div>

					<div class="form-group row">
						<label for="especialidad" class="col-sm-2 col-form-label">Apellido
							Materno</label>
						<div class="col-sm-10">
							<input type="text" readonly th:value="${alumnos.ApeMat}"
								class="form-control-plaintext">
						</div>
					</div>
					<div class="form-group row">
						<label for="direccion" class="col-sm-2 col-form-label">Edad</label>
						<div class="col-sm-10">
							<input type="text" readonly th:value="${alumnos.edad}"
								class="form-control-plaintext">
						</div>
					</div>
					<div class="form-group row">
						<label for="direccion" class="col-sm-2 col-form-label">Genero</label>
						<div class="col-sm-10">
							<input type="text" readonly th:value="${alumnos.Genero}"
								class="form-control-plaintext">
						</div>
					</div>
					<div class="form-group row">
						<label for="direccion" class="col-sm-2 col-form-label">Direccion</label>
						<div class="col-sm-10">
							<input type="text" readonly th:value="${alumnos.direccion}"
								class="form-control-plaintext">
						</div>
					</div>

					<div class="form-group row">
						<label for="telefono" class="col-sm-2 col-form-label">Fecha
							de inrgreso</label>
						<div class="col-sm-10">
							<input type="text" readonly th:value="${alumnos.fechaIngreso}"
								class="form-control-plaintext">
						</div>
					</div>
				</form>

				<div class="card-header">Matricula</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Fecha de creacion de Matricula</th>
							<th scope="col">Estado de matricula</th>
							<th scope="col">Grado Y Seccion</th>
							<th scope="col">Codigo del alumno</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody th:each="matricula: ${alumnos.matriculas}">
						<tr>
							<th scope="row" th:text="${matricula.codigo}">1</th>

							<td th:text="${matricula.fechaCreacion}">Mark</td>
							<td th:text="${matricula.EstadoRegistro}">Otto</td>
							<td th:text="${matricula.seccion.descripcion}">@mdo</td>
							<td th:text="${matricula.alumno.codigo}">@mdo</td>

						</tr>
					</tbody>
				</table>

				<div class="card-header">Apoderados</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">DNI</th>
							<th scope="col">Nombre</th>
							<th scope="col">Apellido Paterno</th>
							<th scope="col">Apellido Materno</th>
							<th scope="col">Edad</th>
							<th scope="col">Direccion</th>
							<th scope="col">Telefono</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody th:each="apoderado: ${alumnos.apoderados}">
						<tr>
							<th scope="row" th:text="${apoderado.codigo}">1</th>
							<td th:text="${apoderado.DNI}">Mark</td>
							<td th:text="${apoderado.nombre}">Otto</td>
							<td th:text="${apoderado.ApePat}">@mdo</td>
							<td th:text="${apoderado.ApeMat}">@mdo</td>
							<td th:text="${apoderado.edad}">@mdo</td>
							<td th:text="${apoderado.direccion}">@mdo</td>
							<td th:text="${apoderado.telefono}">@mdo</td>
							<td><a
								sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_TRABAJADOR')"
								th:href="@{ '/apoderado/info/' + ${apoderado.codigo} }"
								class="btn btn-info"> <i class="fas fa-info"></i>
							</a> <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_TRABAJADOR')"
								th:href="@{ '/apoderado/edit/' + ${apoderado.codigo} }"
								class="btn btn-warning"> <i class="fas fa-edit"></i>
							</a> <a sec:authorize="hasRole('ROLE_ADMIN')"
								th:href="@{ '/apoderado/del/' + ${apoderado.codigo} }"
								class="btn btn-danger"> <i class="fas fa-trash-alt"></i>
							</a></td>
						</tr>
					</tbody>
				</table>

			</div>
			<div class="card-footer text-muted">
				<a href="javascript:history.back(-1);" class="btn btn-primary"
					title="Ir la página anterior"><i class="fas fa-arrow-left"></i>
					Volver</a> <a
					sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_TRABAJADOR')"
					th:href="@{'/alumno/' + ${alumnos.codigo} + '/nuevamatricula/'}"
					class="btn btn-primary"><i class="fas fa-file-alt"></i> Nueva
					Matricula</a> <a
					sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_TRABAJADOR')"
					th:href="@{'/alumno/' + ${alumnos.codigo} + '/nuevoapoderado/'}"
					class="btn btn-primary"><i class="fas fa-user-plus"></i> Nuevo
					Apoderado</a> <a
					sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_TRABAJADOR')"
					th:href="@{'/alumno/' + ${alumnos.codigo} + '/nuevousuario/'}"
					class="btn btn-primary"><i class="fas fa-user-plus"></i> Nuevo
					Usuario</a>
			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>








