<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>
	<header th:replace="layout/layout :: header"></header>
	<a sec:authorize="hasRole('ROLE_ADMIN')"
		th:href="@{'/createPdf'}" style="float: right;"><img
		th:src="@{/img/pdf.png}" style="width: 40px;">Reporte 
		de Alumnos</a>
	<div class="container">

		<h1></h1>
		<h1></h1>
		<div class="card text-center">
			<div class="card-header">Lista de alumnos</div>
			<div class="card-body">

				<div th:if="${dangerDel}" class="alert alert-danger" role="alert">
					<span th:text="${dangerDel}"></span>
				</div>

				<table id="table" class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Codigo</th>
							<th scope="col">DNI</th>
							<th scope="col">Nombre</th>
							<th scope="col">Apellido Paterno</th>
							<th scope="col">Apellido Materno</th>
							<th scope="col">Edad</th>
							<th scope="col">Fecha Ingreso</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody th:each="alumno: ${alumnos}">
						<tr>
							<th scope="row" th:text="${alumno.codigo}">1</th>
							<td th:text="${alumno.DNI}">Mark</td>
							<td th:text="${alumno.nombre}">Otto</td>
							<td th:text="${alumno.ApePat}">@mdo</td>
							<td th:text="${alumno.ApeMat}">@mdo</td>
							<td th:text="${alumno.edad}">@mdo</td>
							<td th:text="${alumno.fechaIngreso}">@mdo</td>
							<td><a th:href="@{ '/alumno/info/' + ${alumno.codigo} }"
								class="btn btn-info"> <i class="fas fa-info"></i>
							</a> <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_TRABAJADOR')"
								th:href="@{ '/alumno/edit/' + ${alumno.codigo} }"
								class="btn btn-warning"> <i class="fas fa-edit"></i>
							</a> <a sec:authorize="hasRole('ROLE_ADMIN')"
								th:href="@{ '/alumno/del/' + ${alumno.codigo} }"
								class="btn btn-danger"> <i class="fas fa-trash-alt"></i>
							</a></td>
						</tr>
					</tbody>
				</table>

			</div>
			<div class="card-footer text-muted">
				<a th:href="@{/menu}" class="btn btn-primary"><i
					class="fas fa-arrow-left"></i> Atras</a> <a
					sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_TRABAJADOR')"
					th:href="@{/alumno/nuevo}" class="btn btn-primary"><i
					class="fas fa-file-alt"></i> Nuevo Alumno</a>
			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
