<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>Nuevo Alumno</h1>

		<div class="card">
			<div class="card-header">Registro de nuevo alumnos</div>

			<div class="card-body">

				<form th:action="@{/alumno/save}" th:object="${alumno}"
					method="post">


					<div class="form-group">
						<label for="codigo">Codigo:</label> <input type="text"
							class="form-control" placeholder="Codigo de Alumno"
							th:field="*{codigo}" th:value="sd"> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></small>
					</div>

					<div class="form-group">
						<label for="DNI">DNI:</label> <input type="text"
							class="form-control" placeholder="DNI de Alumno"
							th:field="*{DNI}"> <small class="form-text text-danger"
							th:if="${#fields.hasErrors('DNI')}" th:errors="*{DNI}"></small>
					</div>

					<div class="form-group">
						<label for="nombre">Nombres:</label> <input type="text"
							class="form-control" placeholder="Nombre de Alumno"
							th:field="*{nombre}"> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>

					</div>

					<div class="form-group">
						<label for=ApePat>Apellido Paterno:</label> <input type="text"
							class="form-control" placeholder="Apellido Paterno del Alumno"
							th:field="*{ApePat}"> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('ApePat')}" th:errors="*{ApePat}"></small>
					</div>

					<div class="form-group">
						<label for="ApeMat">Apellido Materno:</label> <input type="text"
							class="form-control" placeholder="Apellido Materno del Alumno"
							th:field="*{ApeMat}"> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('ApeMat')}" th:errors="*{ApeMat}"></small>
					</div>

					<div class="form-group">
						<label for="edad">Edad:</label> <input type="text"
							class="form-control" placeholder="Edad del Alumno"
							th:field="*{edad}"> <small class="form-text text-danger"
							th:if="${#fields.hasErrors('DNI')}" th:errors="*{DNI}"></small>
					</div>

					<div class="form-group">
						<label for="fechaNac">Fecha Nacimiento:</label> <input type="date"
							class="form-control" placeholder="Teléfono de Alumno"
							th:field="*{fechaNac}">
					</div>

					<div class="form-group">
						<label for="Genero">Genero:</label> <select th:field="*{genero}"
							class="form-control">
							<option th:value="M" th:text="Masculino"></option>
							<option th:value="F" th:text="Femenino"></option>
						</select>
					</div>


					<div class="form-group">
						<label for="direccion">Direccion:</label> <input type="text"
							class="form-control" placeholder="Dirección del Alumno"
							th:field="*{direccion}">
					</div>

					<div class="form-group">
						<label for="fechaIngreso">Fecha de ingreso:</label> <input
							type="date" class="form-control" placeholder="Fecha de ingreso"
							th:field="*{fechaIngreso}">
					</div>

					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i> Grabar
					</button>

					<a th:href="@{/alumno}" class="btn btn-danger"> <i
						class="fas fa-undo"></i> Cancelar
					</a>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>