<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>Edición del trabajador</h1>

		<div class="card">
			<div class="card-header">Edición del trabajador</div>
			<div class="card-body">

				<form th:action="@{/trabajador/save}" th:object="${trabajador}"
					method="post">
					<div class="form-group">
						<label for="codigo">Codigo:</label> <input type="text"
							class="form-control" placeholder="Codigo del trabajador"
							th:field="*{codigo}">
					</div>
					<div class="form-group">
						<label for="DNI">DNI:</label> <input type="text"
							class="form-control" placeholder="DNI" th:field="*{DNI}">
					</div>
					<div class="form-group">
						<label for="nombre">Nombre:</label> <input type="text"
							class="form-control" placeholder="Nombre" th:field="*{nombre}">
					</div>
					<div class="form-group">
						<label for="ApePat">Apellido Paterno:</label> <input type="text"
							class="form-control" placeholder="Apellido Paterno"
							th:field="*{ApePat}">
					</div>
					<div class="form-group">
						<label for="ApeMat">Apellido Materno:</label> <input type="text"
							class="form-control" placeholder="Apellido Materno" th:field="*{ApeMat}">
					</div>
					<div class="form-group">
						<label for="cargo">Cargo:</label> 
						<select th:field="*{cargo}" class="form-control">
					      <option th:each="carg : ${cargos}"
					      	th:value="${carg.codigo}" th:text="${carg.descripcion}"></option>
					    </select>
						
					</div>
					<div class="form-group">
						<label for="edad">Edad:</label> <input type="text"
							class="form-control" placeholder="Edad" th:field="*{edad}">
					</div>
					<div class="form-group">
						<label for="direccion">Direccion:</label> <input type="text"
							class="form-control" placeholder="Direccion" th:field="*{direccion}">
					</div>
					
					<div class="form-group">
						<label for="telefono">Telefono:</label> <input type="text"
							class="form-control" placeholder="Telefono" th:field="*{telefono}">
					</div>
					<div class="form-group">
						<label for="correo">Correo:</label> <input type="text"
							class="form-control" placeholder="Correo" th:field="*{correo}">
					</div>
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i> Grabar
					</button>
					<a th:href="@{/trabajador}" class="btn btn-danger"> <i
						class="fas fa-undo"></i> Cancelar
					</a>
				</form>

			</div>
		</div>


	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>